@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  font-size: medium;

  @media screen and (min-width: 1000px) {
    font-size: large;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
